.App {
    margin: 0;
}


.muc {
    background-image: url('https://img.freepik.com/free-photo/beautiful-aerial-shot-forest-enveloped-creepy-mist-fog_181624-2659.jpg?t=st=1649082374~exp=1649082974~hmac=344337f2e394b6edc84c10b7045f19c8bd249bd73605ef12860a76c9066ba9e9&w=1380');
    border-radius: 1em;
    color: #fff;
}

.muc1 {
    background-color: rgba(0, 255, 255, 0.418);
}

.input-seach {
    border: 0;
    width: auto;
    padding-left: 2em;
    padding-right: 50%;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.input-seach:focus {
    outline: none;
}

.input-seach::placeholder {
    color: #fff;
}

.input-seach:hover {
    border: 0;
}

.wether-icon {
    margin-left: 43%;
}

.item1 {
    border-right: 1px solid rgba(128, 128, 128, 0.459);
}